{% extends "iframes/jkfm_rep.html" %}{% load static %}

{% block report %}
    <h1><b>jkfm and his brawlers</b></h1>
    <hr style="margin-left: -5%;">
    <h2>Here you can see jkfm's brawlers and their power level</h2>
    <img src="{% static 'b_power.png' %}" alt="">
    <hr style="margin-left: -5%;">
    <h2>Here on the oter hand you can see how often jkfm is winning with each brawler</h2>
    <img src="{% static 'b_results.png' %}" alt="">
    <hr style="margin-left: -5%;">
    <h2>And here you can see jkfm's brawlers current and highest trophies</h2>
    <img src="{% static 'b_trop.png' %}" alt="">
{% endblock %}