{% extends "iframes/jkfm_rep.html" %}{% load static %}

{% block report %}
    <h1>Milánci</h1>
    <h2>Trophies: 588631</h2>
    <h2>Mílovi hoši, opustil nás Milánek</h2>
    
    <h3>type: open&ensp;&ensp;   required Trophies: 15000&ensp;&ensp;   tag:#2UYCV0U8R</h3>
    <hr style="margin-left: -5%;">
    <h2>Lets take a look on Milánci's members</h2>
    <img src="{% static 'c_members.png' %}" alt="">
    <hr style="margin-left: -5%;">
    <h2>And here are their roles</h2>
    <img src="{% static 'roles.png' %}" alt="">
    <hr style="margin-left: -5%;">
    <h2>Here you can see their trophies</h2>
    <img src="{% static 'club_trop.png' %}" alt="">
{% endblock %}