{% extends "index.html" %}{% load static %}

{% block content %}
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom fixed-top" style="background-color:rgb(255, 255, 255);">
        <div class="col-md-3 mb-2 mb-md-0" bis_skin_checked="1">
          <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>
        </div>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0  " style="margin-left: -8%;">
          <li><a  class="nav-link px-2" href="/iframe/team">jkfm's Teammates</a></li>
          <li><a  class="nav-link px-2" href="/iframe/games">Abouth jkfm's  games</a></li>
          <li><a  class="nav-link px-2" href="/iframe/brawlers">jkfm's  brawlers</a></li>
          <li><a  class="nav-link px-2" href="/iframe"> Abouth jkfm</a></li>
          <li><a  class="nav-link px-2" href="/iframe/club">jkfm and his club</a></li>
        </ul>
  
        <div class="col-md-3 text-end" bis_skin_checked="1">
            <span class="fs-4" style="margin-left: -20%;">jkfm's tag: #2Q0U9PJLP&ensp;&ensp;</span>
            <!-- <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="2Q0U9PJLP..." aria-label="Search"> -->
        </div>
      </header>
      <h1 style="color: rgba(255, 255, 255, 0);">_<br>_</h1>
{% endblock %}
{% block report %}
    <h1><b>jkfm</b></h1>
    <h2>trophies:17869&ensp;&ensp;  club: Milánci&ensp;&ensp;  today's games: 1</h2>
    <h3>highest Trophies: 17869</h3>
    <h2>wins:</h2>
    <h3>solo: 214&ensp;    duo: 385&ensp;     3v3: 2324</h3>
    <hr style="margin-left: -5%;">
    <h2>Here is an overview of jkfm's  Brawlers</h2>
    <img src="{% static 'p_brawl.png' %}" >
{% endblock %}