<html>
    <head>

    </head>
    <body>
        {% block content %}
            <h1>ahoj - prvni stranka hrac zada tag</h1>
            <p>bla bla bla co se tu dozvis</p>
            <!-- <button method="GET">random tag z databaze zkus to</button> -->

            <form method="post" action="">
                {% csrf_token %}
                <p>pisto bez #</p>
                <label for="player_tag">Your Tag: #</label>
                <input type="text" name="validation" value="valid">
                <button type="submit">Submit</button>
            </form>

        {% endblock %}
        {% block report %}
        {% endblock %}
        <h1>ramdom: #{{random_t}}</h1>
        <button type="submit" onclick="location.href='/p?tag={{random_t}}'">Random hrac</button>
        
    </body>
</html>