{% extends "report.html" %}

{% block report %}
    <h1>{{name}}</h1>
    <h2>Trophies: {{trophies}}</h2>
    <h2>{{description}}</h2>
    
    <h3>type: {{type}}   required Trophies: {{reg_trophy}}   tag:{{clubtag}}</h3>
    <hr>
    <div class="plotly-graph-div" id="plot-container"> {{ members|safe }}</div>
    <hr>
    <div class="plotly-graph-div" id="plot-container"> {{ roles|safe }}</div>
    <hr>
    <div class="plotly-graph-div" id="plot-container"> {{ trophies_plot|safe }}</div>
{% endblock %}