{% extends "report.html" %}

{% block report %}
    <h1><b>{{name}}</b></h1>
    <h2>Trophies: {{trophies}}</h2>
    <h2>{{description}}</h2>
    
    <h3>type: {{type}}&ensp;&ensp;   required Trophies: {{reg_trophy}}&ensp;&ensp;   tag:{{clubtag}}</h3>
    <hr style="margin-left: -5%;">
    <h2>Lets take a look on {{name}}'s members</h2>
    <div class="my-4 w-100" id="myChart" width="921" height="388" style="display: block; box-sizing: border-box; height: 500px; width: 921px;"> {{ members|safe }}</div>
    <hr style="margin-left: -5%;">
    <h2>And here are their roles</h2>
    <div class="my-4 w-100" id="myChart" width="921" height="388" style="display: block; box-sizing: border-box; height: 776; width: 921px;"> {{ roles|safe }}</div>
    <hr style="margin-left: -5%;">
    <h2>Here you can see their trophies</h2>
    <div class="my-4 w-100" id="myChart" width="921" height="388" style="display: block; box-sizing: border-box; height: 388px; width: 921px;"> {{ trophies_plot|safe }}</div>
{% endblock %}