{% extends "report.html" %}

{% block report %}
    <!-- <a href="/p/teamates">Teamates</a> -->
    <h1><b>{{pl_name}}'s games</b></h1>
    <h3>let's see how {{pl_name}} is doing</h3>
    <hr style="margin-left: -5%;">
    <h2>Losses and wins </h2>
    <div class="my-4 w-100" id="myChart" width="921" height="388" style="display: block; box-sizing: border-box; height: 921; width: 921px;"> {{ pie_plot|safe }}</div>
    <h3>let's see what game mods {{pl_name}} is good in</h3>
    <h2>The ratio of losses to wins in each gamemode</h2>
    <div class="my-4 w-100" id="myChart" width="921" height="388" style="display: block; box-sizing: border-box; height: 388px; width: 921px;"> {{ bar_plot|safe }}</div>
{% endblock %}